<manifest package="org.homunculus.android.component"

          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity android:name=".UnbreakableCrashHandler$RecoverActivity"
            android:exported="true"/>

        <provider
            android:name=".DefaultFileProvider"
            android:authorities="${applicationId}.hcf.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/hcf_provider_paths"/>
        </provider>

    </application>

</manifest>
